fastapi
uvicorn[standard]
jinja2
python-multipart
starlette
yfinance==0.2.66
multitasking==0.0.11
pandas
plotly
vaderSentiment
stockstats
deep-translator
gunicorn
requests
beautifulsoup4
Pillow
praw
apscheduler
openai
python-dotenv
google-auth
google-api-python-client
