fastapi
uvicorn[standard]
jinja2
python-multipart
starlette
yfinance
multitasking==0.0.11
pandas==2.2.3


plotly
vaderSentiment
stockstats
deep-translator
gunicorn
requests
beautifulsoup4
Pillow
praw
apscheduler
openai
python-dotenv
scikit-learn
google-auth
google-api-python-client
