fastapi
uvicorn[standard]
jinja2
python-multipart
starlette
yfinance
pandas
plotly
vaderSentiment
stockstats
deep-translator
gunicorn
requests
beautifulsoup4
Pillow
praw
feedparser
apscheduler
openai
python-dotenv
scikit-learn
numpy
